class general {
      # General variables. These variables are used across
      # the other modules
      $full_name = ""
      $email = ""
      # password used accross the installation e.g. mysql
      $pass = "root"

      # General packages to be installed
      $packages = ["vim", "curl", "ack-grep", "sed", "tmux"]
      package {
        $packages: ensure => installed;
      }

      # Extra activities
      group { "puppet":
         ensure => "present",
      }
}

Exec {
    path => ["/bin", "/sbin", "/usr/bin", "/usr/sbin"],
}

include general
include sshd
include version_control
include python2
include mysql
include apache2
include memcached
include development
include sun-java
include postgresql

